@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Manrope",sans-serif;
    background:#fffcf8;
    color:#4d4042;
    overflow-x:hidden;
}

img{
    width:100%;
    display:block;
}

button{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    font-family:inherit;
}

a{
    text-decoration:none;
    color:inherit;
}

section{
    width:100%;
}